<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des utilisateurs</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>

    <include src="header.html"></include>    <!-- je n'ai pas réussit à faire apparaître la nav et les header -->

    <div class="container">
        <h1>Liste des utilisateurs</h1>
        <ul>
            {{users}}
        </ul>
        <a href="/">Retour</a>
    </div>
</body>
</html>
